@import "tailwindcss";
*{
  font-family: Arial, Helvetica, sans-serif;
}
.header::after{
  content: "";
  display: block;
  width:0px;
  height: 2px;
  background: #ffffff;
  transition: width .3s;
  margin-top: 4px;

}
.header:hover:after{
  width: 100%;
}
.icone{
 
  fill: #ff0000; /* Altera a cor de preenchimento para vermelho */
  stroke: #000000; /* Altera a cor da borda para preto (se aplicável) */
}
