@import "tailwindcss";
*{
  font-family: Arial, Helvetica, sans-serif;
}
header li::after{
  content: "";
  display: block;
  width:0px;
  height: 2px;
  background: #ffffff;
  transition: width .3s;
  margin-top: 4px;

}
header li:hover:after{
  width: 100%;
}

  .shadow{
    box-shadow: inset 0px 0px  #ffffff;
  }
  .shadow1{
    box-shadow: inset 0px 0px  #ffffff ,inset 0px 0px  #000000;
  }
  @media screen and (min-width: 768px){
    .shadow{
      box-shadow: inset 0px -120px  #ffffff;
    }
    .shadow1{
      box-shadow: inset 0px 120px  #ffffff ,inset 0px -140px  #ffffff;
    }
  }
  


#article h3::before{
  content: "";
  display: inline-block;
  width:12px;
  height: 8px;
  background: #cc1c1c;
  margin-right: 8px;
 
  
  
}
article li span{
  padding-left: 20px;
}

